In [1]:
from datetime import datetime, date, time 

# 2011년 10월 29일 20시 20분 21초
dt = datetime(2011, 10, 29, 20, 20, 21)

In [2]:
print(dt.day)
print(dt.minute)

29
20

In [3]:
print(dt.date())
print(dt.time())

2011-10-29
20:20:21

### strftime

In [4]:
# strftime = datetime 데이터 문자열로 변환
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:20'

### strptime

In [5]:
# strptime = 문자열을 해석하여 datetime 객체로 만들어줌
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [6]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [7]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
print(delta)
print(type(delta))

17 days, 2:09:39
<class 'datetime.timedelta'>

### if, elif, else

In [8]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
    print(total)

1
3
7
12

In [9]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
total_until_5

13

In [10]:
# range(start, stop, step)
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print(i,j)

0 0
1 0
1 1
2 0
2 1
2 2
3 0
3 1
3 2
3 3

In [11]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x //2
print(total)
print(x)

504
4

In [12]:
x = 0

if x < 0:
    print('negative!')
elif x == 0:
    pass
else:
    print('positive!')

### range()
- range(start, stop, step)

In [13]:
range(10)

range(0, 10)

In [14]:
list(range(10)) # 0~9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list(range(0, 20, 2)) # 0에서 19까지 2씩 증가

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
list(range(5, 0, -1)) # 5부터 1까지 1씩 감소

[5, 4, 3, 2, 1]

In [17]:
seq = [1,2,3,4]

for i in range(len(seq)): # range(len(seq)) 0, 1, 2, 3
    val = seq[i]

val

4

In [18]:
sum = 0
for i in range(100000):
    if i % 3 == 0 or i % 5 == 0:
        sum += i

In [19]:
x = 5

'Non-negative' if x >= 0 else 'Negative' # 삼항표현식, 가독성이 떨어짐

'Non-negative'

### Tuple

In [20]:
tup = 4,5,6

print(tup)

nested_tup = (4,5,6),(7,8)

print(nested_tup)

(4, 5, 6)
((4, 5, 6), (7, 8))

In [21]:
print(tuple([4,0,2]))

tup = tuple('string')
print(tup)
print(tup[1])

(4, 0, 2)
('s', 't', 'r', 'i', 'n', 'g')
t

In [22]:
tup = tuple(['foo', [1,2], True])
tup[2] = False # tuple에 저장된 객체 자체는 변경이 가능하지만, 한번 생성되면 각 슬롯에 저장된 객체를 변경하는 것은 불가능하다.

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup[1].append(3) # tuple 내에 저장된 객체는 그 위치에서 바로 변경이 가능하다.

tup

('foo', [1, 2, 3], True)

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar',) # 연산자를 이용해서 tuple을 이어붙일 수 있다.

(4, None, 'foo', 6, 0, 'bar')

In [ ]:
('foo', 'bar') * 4 # tuple에 정수를 곱하면 list와 마찬가지로 tuple의 복사본이 반복되어 늘어난다.

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [ ]:
tup = (4,5,6)
a, b, c =tup
b

5

In [ ]:
tup = 3, 4, (6, 7)
a, b, (c, d) = tup

d

7

### 변수 이름 바꾸기

In [ ]:
a, b = 1, 2
print(a) #1
print(b) #2

b, a = a, b

print(a) #2
print(b) #1

1
2
2
1

In [ ]:
seq = [(1,2,3), (4,5,6), (7,8,9)]

for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [ ]:
values = 1, 2, 3, 4, 5

a, b, *rest = values

print(a, b)
print(*rest) 
print(rest) # 나머지 list 로 반환

1 2
3 4 5
[3, 4, 5]

In [ ]:
a, b, *_ = values

print(a, b)
print(*_)
print(_) # rest와 동일

1 2
3 4 5
[3, 4, 5]

In [ ]:
a = (1,2,2,2,3,4,2)
a.count(2)

4

### List

In [ ]:
a_list = [2,3,7,None]
tup = ('foo', 'bar', 'baz')

b_list = list(tup)

print(a_list)
print(tup)
print(b_list)

[2, 3, 7, None]
('foo', 'bar', 'baz')
['foo', 'bar', 'baz']

In [ ]:
gen = range(10)

print(gen)
print(list(gen))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 원소 추가하고 삭제하기

In [ ]:
b_list.append('dwarf')
b_list

['foo', 'bar', 'baz', 'dwarf']

In [ ]:
b_list.insert(1, 'red') # insert는 append에 비해 연산비용이 많이 든다.
b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

### collections.deque 양방향 큐
    - https://excelsior-cjh.tistory.com/96

In [ ]:
b_list.append('foo')
print(b_list)

b_list.remove('foo')
print(b_list)

['foo', 'red', 'bar', 'baz', 'dwarf', 'foo']
['red', 'bar', 'baz', 'dwarf', 'foo']

In [ ]:
'dwarf' in b_list

True

In [ ]:
[4, None, 'foo'] + [7, 8, (2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
list_of_lists = ['a', 'b'] # int 는 iteratable 하지 않아서 사용할 수 없음

everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

everything

['a', 'b']

In [ ]:
a = [7, 2, 5, 1 ,3]
a.sort() # default = ascending
print(a)

a.sort(reverse=True) # descending
print(a)

[1, 2, 3, 5, 7]
[7, 5, 3, 2, 1]

In [ ]:
b = ['saw', 'small','He','foxes','six']
b.sort(reverse=False, key=len) # key값 지정
b

['He', 'saw', 'six', 'small', 'foxes']

In [ ]:
# bisect : 정렬된 리스트를 삽입 후에 다시 정렬할 필요 없도록 지원
# https://programming119.tistory.com/196
import bisect

In [ ]:
c = [1,2,2,2,3,4,7]
print(bisect.bisect(c,2))
print(bisect.bisect(c,5))

4
6

In [ ]:
bisect.insort(c,6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

### 이분탐색/이진탐색
- 이분 탐색 또는 이진 탐색은 찾고자 하는 수를 두 부분으로 나눠서 찾는 기법입니다. 
- 따라서 순차 탐색(linear search) 보단 더 빠른 성능을 보입니다. 
- 이분 탐색을 하기 위해선 주어진 탐색 리스트가 이미 정렬이 되어 있다는 전제가 깔려야 합니다.
- 순서
1. 탐색 리스트가 정렬이 되어 있지 않다면 정렬
2. left, right, mid를 잡아줌 (리스트 첫 번째는 left, 리스트 마지막은 right, 리스트의 중간 값은 mid
3. 여기서 값보단 리스트의 인덱스로 잡는 것이 더 범용적으로 사용할 수 있음
4. mid 값과 찾고자 하는 값 비교
5. mid값이 더 크면 right 값을 mid -1, mid값이 더 작으면 left값을 mid + 1로 세팅
6. left > right가 될 때까지 2~4번 반복

- 이와 같이 진행하면 탐색 사이즈가 계속 1/2씩 줄어들기 때문에 시간복잡도가 O(logN)이 나오게 됩니다.

In [ ]:
# 일반적인 구현
nums = [0,1,2,3,4,5,6,7,8,9] 
n = 5 

for i in range(len(nums)): # range(len(nums)) = range(10)
    if n <= nums[i]: 
        break 
result = i 
print(result)

5

In [ ]:
# 이분 탐색을 사용해서 구현
nums = [0,1,2,3,4,5,6,7,8,9] 
n = 5 
l = 0 # 1번째 index
r = len(nums)-1  # len(nums)-1 = 10 마지막 index
result = 0 

while l <= r:
    mid = (l+r) // 2
    if nums[mid] >= n:
        result = mid
        r = mid - 1
    else:
        l = mid + 1

print(result)

# 배열이 오름차순 정렬로 되어 있음, mid를 집고 mid 인덱스 값이 작으면 l을 mid+1로 올려 후보 값을 올림, 아니면 r을 mid-1로 내림
# 절반씩 후보를 내려가기 때문에 logN 이 성립함

5

In [ ]:
from bisect import bisect_left, bisect_right
#bisect_left() 왼쪽 index 구하기
#bisect_right() 오른쪽 index 구하기

nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
n = 5

print(bisect_left(nums, n))
print(bisect_right(nums, n))

5
6

In [ ]:
nums = [4, 5, 5, 5, 5, 5, 5, 5, 5, 6]
n = 5

print(bisect_left(nums, n))
print(bisect_right(nums, n))

1
9

In [ ]:
# 특정 범위에 속하는 원소 구하기
from bisect import bisect_left, bisect_right

def calCountsByRange(nums, left_value, right_value):
    r_i = bisect_right(nums, right_value)
    l_i = bisect_left(nums, left_value)
    return r_i - l_i

nums = [-1, -3, 5, 5, 4, 7, 1, 7, 2, 5, 6]

nums.sort()
print(calCountsByRange(nums, 5, 7))

6

In [ ]:
#예제
import bisect

result = []
for score in [33, 99, 77, 70, 89, 90, 100]:
    pos = bisect.bisect([60, 70, 80, 90], score)  # 점수가 정렬되어 삽입될 수 있는 포지션을 반환 # bisect = bisect_right
    grade = 'FDCBA'[pos]
    result.append(grade)

print(result)

['F', 'A', 'C', 'C', 'B', 'A', 'A']

In [ ]:
import bisect

result = []
for score in [33, 99, 77, 70, 89, 90, 100]:
    pos = bisect.bisect_left([60, 70, 80, 90], score)
    grade = 'FDCBA'[pos]
    result.append(grade)

print(result)

['F', 'A', 'C', 'D', 'B', 'B', 'A']

In [ ]:
# bisect.insort 정렬될 수 있는 위치에 해당 항목을 삽입한다.
import bisect
a = [60, 70, 80, 90]
bisect.insort(a, 85)
a

[60, 70, 80, 85, 90]

In [1]:
# 슬라이싱

seq = [7,2,3,7,5,6,0,1]
seq[1:5]

[2, 3, 7, 5]

In [3]:
seq[3:4]=[6,3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [12]:
print(seq[:5])
print(seq[3:])
print(seq[-4:])
print(seq[-6:-2])
print(seq[::2]) #하나 걸로 다음 원소 선택
print(seq[::-1]) #간격 값으로 -1 사용하면 리스트나 튜플의 역순 반환
print(seq[::-2])

[7, 2, 3, 6, 3]
[6, 3, 5, 6, 0, 1]
[5, 6, 0, 1]
[6, 3, 5, 6]
[7, 3, 3, 6, 1]
[1, 0, 6, 5, 3, 6, 3, 2, 7]
[1, 6, 3, 3, 7]

### enumerate
- 반복문 사용 시 몇 번째 반복문인지 확인이 필요할 수 있습니다. 이때 사용합니다.
- 인덱스 번호와 컬렉션의 원소를 tuple형태로 반환합니다.

In [18]:
t = [1, 5, 7, 33, 39, 52]
for p in enumerate(t):
    print(p)

(0, 1)
(1, 5)
(2, 7)
(3, 33)
(4, 39)
(5, 52)

In [19]:
for i, v in enumerate(t):
    print("index : {}, value: {}".format(i,v))

index : 0, value: 1
index : 1, value: 5
index : 2, value: 7
index : 3, value: 33
index : 4, value: 39
index : 5, value: 52

In [2]:
some_list = ['foo', 'bar', 'baz']
mapping = {}

for i, v in enumerate(some_list): #순차 자료형에서의 값과 그 위치를 dict에 넘겨줌
    mapping[v] = i

mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [23]:
#sort
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [4]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [22]:
#zip

seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)

list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [6]:
seq3 = [False, True]

list(zip(seq1, seq2, seq3)) # 넘겨받은 순차형 자료형 중 가장 짧은 크기로 반환

[('foo', 'one', False), ('bar', 'two', True)]

In [7]:
for i, (a,b) in enumerate(zip(seq1, seq2)):
    print('{0}:{1},{2}'.format(i, a, b))

0:foo,one
1:bar,two
2:baz,three

In [20]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling','Curt')]
first_names, last_names = zip(*pitchers)

print(first_names)
print(last_names)

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'Curt')

In [21]:
#reversed
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Dictionary

In [26]:
empty_dict = {}
d1 = {'a':'some value', 'b':[1,2,3,4]}

print(d1)

d1[7] = 'an integer'
print(d1)

print(d1['b'])

{'a': 'some value', 'b': [1, 2, 3, 4]}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}
[1, 2, 3, 4]

In [27]:
'b' in d1

True