In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.Series(np.random.randn(9),
                index=[['a','a','a','b','b','c','c','d','d'],
                       [1,2,3,1,3,1,2,2,3]])

In [4]:
data

a  1    0.597363
   2    1.061661
   3   -0.362096
b  1    0.432248
   3   -1.654317
c  1    1.358846
   2    0.388148
d  2   -0.198291
   3    2.851664
dtype: float64

In [5]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [8]:
data['b']

1    0.432248
3   -1.654317
dtype: float64

In [9]:
data['b':'c']

b  1    0.432248
   3   -1.654317
c  1    1.358846
   2    0.388148
dtype: float64

In [11]:
data.loc[['b','d']]

b  1    0.432248
   3   -1.654317
d  2   -0.198291
   3    2.851664
dtype: float64

In [12]:
data.loc[:,2]

a    1.061661
c    0.388148
d   -0.198291
dtype: float64

In [13]:
data.unstack()

          1         2         3
a  0.597363  1.061661 -0.362096
b  0.432248       NaN -1.654317
c  1.358846  0.388148       NaN
d       NaN -0.198291  2.851664

In [16]:
data.unstack().stack()

a  1    0.597363
   2    1.061661
   3   -0.362096
b  1    0.432248
   3   -1.654317
c  1    1.358846
   2    0.388148
d  2   -0.198291
   3    2.851664
dtype: float64

In [19]:
frame=pd.DataFrame(np.arange(12).reshape((4,3)),
                   index=[['a','a','b','b'],[1,2,1,2]],
                   columns=[['Ohio','Ohio','Colorado'],['Green','Red','Green']])

In [20]:
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [21]:
frame['Ohio']

     Green  Red
a 1      0    1
  2      3    4
b 1      6    7
  2      9   10

In [23]:
frame.index

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [24]:
pd.MultiIndex.from_arryas([['Ohio','Ohio','Colorado'],['Green','Red','Green']],
                         names=['state','color'])

AttributeError: type object 'MultiIndex' has no attribute 'from_arryas'